name: build

on:
  push:
  
jobs:
  build:
    name: Build site
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: install miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: pgip
          environment-file: environment.yml
          use-only-tar-bz2: true
          auto-activate-base: false

      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Add miniconda path
        run: |
          echo "$(dirname $(which R))" >> $GITHUB_PATH
          quarto check

      - name: Install TinyTeX
        run: |
          R -e "tinytex::install_tinytex()"
          R -e "tinytex::tlmgr_update()"
          R -e "tinytex::reinstall_tinytex()"
          R -e "tinytex::tinytex_root()"

      - name: Install dvisvgm
        run: |
          sudo apt update
          sudo apt-get install dvisvgm
          which dvisvgm
          echo $TEXINPUTS

      - name: "Set environment variables"
        run: |
          echo "TEXINPUTS=$TEXINPUTS:$GITHUB_WORKSPACE/src/latex" >> $GITHUB_ENV

      - name: Publish to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        if: ${{ github.event_name == 'push' }}
        with:
          target: gh-pages
          path: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
